.TodoList {
    order: 2;
    flex: auto;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 0.8rem 1.2rem;
    height: 100%;

    h2 {
        font-size: 1.6rem;
        color: #ccc;
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0;
        padding: 0.3rem;
        cursor: default;
    }

    ul {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

}